# .ebextensions/django.config
# Responsável APENAS por pacotes e configurações globais.

packages:
  yum:
    libpq-devel: []
    gcc: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: core.settings.production