# Settings and commands for Amazon Linux 2023 Python Platform
# Final version using 'poetry run'

packages:
  yum:
    libpq-devel: []
    gcc: []

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: core.settings.production
  aws:elasticbeanstalk:container:python:
    WSGIPath: core.wsgi:application

container_commands:
  01_migrate:
    # Usando 'poetry run' como sugerido. O 'cwd' garante que o comando
    # seja executado no diretório raiz do projeto onde o pyproject.toml está.
    command: "poetry run django-admin migrate --noinput"
    leader_only: true
    cwd: /var/app/staging # Executa o comando no diretório da aplicação
  02_collectstatic:
    command: "poetry run django-admin collectstatic --noinput"
    leader_only: true
    cwd: /var/app/staging # Executa o comando no diretório da aplicação